# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/frontend/web/uploads
/backend/web/uploads
/environments
/tests
/composer.lock
/frontend/views/layouts/main_old.php
/requirements.php
/yii.bat
/.bowerrc
/init
/init.bat
/LICENSE.md
/README-Yii2.md
/backend/web/export
/*.rar
/frontend/web/css/cropper.css
/frontend/web/css/cropper.min.css
/frontend/web/js/cropper.js
/frontend/web/js/cropper.min.js
/frontend/web/storage/wechat/avatar
/frontend/web/storage/wechat/qr_code
/common/rbac/AuthorRule
/frontend/web/3102672f80d64fa08c5ae5a0cec01fa3.html
/frontend/web/bdunion.txt
/frontend/web/css/redactor.css
/frontend/web/jd_root.txt
/frontend/web/root.txt
